* {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  box-sizing: border-box;

  --border: black;
  --bg: white;
  --fg: black;
  --dec: #bbb;
  --orange: #cf9f1d;
  --red: #ce1818;
  --green: #1a5e1a;
  --blue: #393987;

  color: var(--fg);
  background: var(--bg);

  margin: 0 1rem;
}

ul,
li {
  margin: 0;
  width: 100%;
  padding: 0;
}

ul {
  padding-left: 1rem;
}

@media (prefers-color-scheme: dark) {
  body {
    --border: white;
    --bg: black;
    --fg: white;
    --dec: #4f4f4f;

    --orange: #e6c986;
    --red: #cb7c7c;
    --green: #7acd7a;
    --blue: rgb(87, 139, 235);
  }
}


.inline-form {
  display: inline-block;
}

.btn {
  font-weight: bold;
  border: 1px solid var(--border);
  font-family: inherit;
  font-size: 1rem;
  background: none;
  padding: 0.5rem 0.75rem;
  cursor: pointer;
  color: inherit;
}

.btn:disabled,
.in:disabled {
  cursor: default;
  opacity: 0.5;
}

.box label {
  width: 100%;
}

.big-col {
  min-width: 20rem;
}

.in {
  /* font-weight: bold; */
  border: 1px solid var(--border);
  border-bottom-width: 2px;
  font-family: inherit;
  font-size: 1rem;
  background: none;
  padding: 0.5rem 0.75rem;
  padding-bottom: calc(0.5rem - 1px);
  line-height: 1;
  /* cursor: pointer; */
  color: inherit;
  width: 100%;
  display: inline-block;
}

.spaced-down {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  align-items: flex-start;
}

.spaced-across {
  display: flex;
  gap: 0.5rem;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.start {
  align-items: flex-start;
}

.end {
  align-items: flex-end;
}


a:link,
a:visited {
  color: inherit;
  text-decoration: underline;
  text-decoration-color: var(--dec);
  text-decoration-skip: none;
  text-decoration-skip-ink: none;
  text-decoration-thickness: 2px;
}

a:hover {
  text-decoration-thickness: 3px;
}

a:active {
  text-decoration: none;
}

.box {
  width: 15rem;
}

h2 {
  margin: 0;
}

.box p {
  margin: 0;
}

.box .btn {
  display: block;
  width: 100%;
}

.grow {
  flex-grow: 1;
}

.selected {
  position: relative;
}

.selected:before {
  content: '>';
  position: absolute;
  right: calc(100% + 0.25rem);
}

fieldset {
  border: 1px solid var(--border);
  margin: 0;
  padding: 0.5rem 1rem;
  width: 100%;
}

.status-files {
  line-height: 1.7;
  margin-left: 0;
  padding-left: 0;
}

.status-files li {
  list-style: none;
}

.status-other::before {
  content: "? ";
}

.status-added::before {
  content: "A ";
  color: var(--green);
}

.status-modified::before {
  content: "M ";
  color: var(--orange);
}

.status-deleted::before {
  content: "D ";
  color: var(--red);
}

.status-renamed::before {
  content: "R ";
  color: var(--blue);
}

.diff-line {
  padding-left: 1.5rem;
  position: relative;
}

.diff-line::before {
  position: absolute;
  top: 0;
  left: 0;
  user-select: none;
}

.diff-line.new {
  color: var(--green);
}

.diff-line.new::before {
  content: '+';
}

.diff-line.deleted {
  color: var(--red);
}

.diff-line.deleted::before {
  content: '-';
}
